:root {
	--bright-blue: oklch(61.36% 0.205 262.21);
	--bright-blue-accessibility: oklch(34.17% 0.162 262.32);
	--magenta: oklch(65.54% 0.231 312.45);
	--cyan: oklch(83.81% 0.124 217.53);
	--cyan-accessibility: oklch(85.81% 0.124 217.53);
	--outline-color: light-dark(
		var(--bright-blue-accessibility) var(--cyan-accessibility)
	);
	--check-background: linear-gradient(
		-45deg,
		var(--magenta) 0%,
		var(--cyan) 100%
	);
	--pure-white: oklch(100% 0 0);
	--pure-black: oklch(0% 0 0);
	--pure-black-50per: oklch(0% 0 0 / 50%);
	--very-light-gray: oklch(98.48% 0 0);
	--very-light-grayish-blue: oklch(92.42% 0.017 282.79);
	--light-grayish-blue: oklch(86.76% 0.011 280.13);
	--dark-grayish-blue: oklch(67.04% 0.025 282.46);
	--very-dark-grayish-blue: oklch(42.39% 0.052 279.93);
	--very-dark-blue: oklch(20.95% 0.021 280.33);
	--very-dark-desaturated-blue: oklch(28.02% 0.039 279.54);
	--dt-light-grayish-blue: oklch(85.38% 0.037 280.55);
	--dt-light-grayish-blue-50per: oklch(85.38% 0.037 280.55 / 50%);
	--light-grayish-blue-hover: oklch(92.42% 0.017 282.79);
	--dt-dark-grayish-blue: oklch(58.53% 0.037 280.19);
	--dt-very-dark-grayish-blue: oklch(43.62% 0.037 278.88);
	--very-dark-grayish-blue-2: oklch(35.47% 0.031 282.36);
	--shadow-1: 0 3.5rem 5rem -1.5rem light-dark(var(--dt-light-grayish-blue-50per), var(--pure-black-50per));
	--shadow-2: 0 -4rem 5rem -1.5rem
		light-dark(var(--dt-light-grayish-blue-50per), var(--pure-black-50per));
	--text-color: light-dark(
		var(--very-dark-grayish-blue),
		var(--dt-light-grayish-blue)
	);
	--text-color-2: light-dark(
		var(--dark-grayish-blue),
		var(--dt-very-dark-grayish-blue)
	);
	--text-color-hover: light-dark(
		var(--very-dark-grayish-blue),
		var(--light-grayish-blue-hover)
	);
	--text-color-active: var(--bright-blue);
	--text-color-link: light-dark(
		var(--dark-grayish-blue),
		var(--dt-very-dark-grayish-blue)
	);
	--text-color-link-hover: light-dark(
		var(--very-dark-grayish-blue),
		var(--light-grayish-blue-hover)
	);
	--text-color-link-active: var(--bright-blue);
	--background-color-1: light-dark(
		var(--pure-white),
		var(--very-dark-desaturated-blue)
	);
	--background-color-2: light-dark(
		var(--very-light-gray),
		var(--very-dark-blue)
	);
	--background-color-3: light-dark(
		var(--dt-light-grayish-blue),
		var(--very-dark-grayish-blue)
	);

	color-scheme: light dark;
}

.light {
	color-scheme: light;
}

.dark {
	color-scheme: dark;
}

:root {
	--max-width-1: 102.4rem;
	--max-width-element-001: 40rem;
	--screen-tablet: 48rem;
	--screen-desktop: 64rem;
	--space-0: 0;
	--space-025: 0.1rem;
	--space-05: 0.2rem;
	--space-1: 0.4rem;
	--space-2: 0.8rem;
	--space-3: 1.2rem;
	--space-4: 1.6rem;
	--space-5: 2rem;
	--space-6: 2.4rem;
	--space-7: 2.8rem;
	--space-8: 3.2rem;
	--space-9: 3.6rem;
	--space-10: 4rem;
	--space-11: 4.4rem;
	--space-12: 4.8rem;
	--space-13: 5.2rem;
	--space-14: 5.6rem;
	--space-15: 6rem;
	--space-16: 6.4rem;
	--space-17: 6.8rem;
	--space-18: 7.2rem;
	--space-20: 8rem;
	--space-24: 9.6rem;
	--space-25: 10rem;
	--space-28: 11.2rem;
	--space-32: 12.8rem;
	--space-100: 40rem;
	--border-025: 0.1rem;
	--border-05: 0.2rem;
	--border-1: 0.4rem;
	--border-2: 0.8rem;
	--border-radius-05: 0.2rem;
	--border-radius-1: 0.4rem;
	--border-radius-2: 0.8rem;
	--border-radius-3: 1.2rem;
	--border-radius-4: 1.6rem;
	--border-radius-5: 2rem;
	--border-radius-6: 2.4rem;
	--border-radius-circle: 50%;
}

:root {
	--fs-base: 62.5%;
	--font-fallback: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI",
		roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	--_font-family: "Josefin Sans", var(--font-fallback);
	--primary-font: var(--_font-family);
	--weight-thin: 100;
	--weight-extra-light: 200;
	--weight-light: 300;
	--weight-regular: normal;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-bold: bold;
	--weight-extra-bold: 800;
	--weight-black: 900;
	--fs-body-sm: 1.2rem;
	--fs-body-md: 1.4rem;
	--fs-body-lg: 1.6rem;
	--fs-body-xl: 1.8rem;
	--fs-title-xs: 1.2rem;
	--fs-title-sm: 1.4rem;
	--fs-title-md: 1.6rem;
	--fs-title-lg: 2rem;
	--fs-title-xl: 2.4rem;
	--fs-title-2xl: 2.8rem;
	--fs-title-3xl: 3.2rem;
	--fs-title-3-6xl: 3.6rem;
	--fs-title-4xl: 4rem;
	--fs-title-7-2xl: 7.2rem;
	--lh-1: 1.6rem;
	--lh-2: 2rem;
	--lh-3: 2.4rem;
	--lh-4: 2.8rem;
	--lh-5: 3.2rem;
	--lh-505: 3.6rem;
	--lh-6: 4rem;
	--lh-7: 4.8rem;
}

@font-face {
	font-family: "Josefin Sans";
	src: url("./JosefinSans-Regular-DBz8fEWi.eot");
	src:
		local("Josefin Sans Regular"),
		local("JosefinSans-Regular"),
		url("./JosefinSans-Regular-DBz8fEWi.eot?#iefix")
			format("embedded-opentype"),
		url("./JosefinSans-Regular-D1syo6e1.woff2") format("woff2"),
		url("./JosefinSans-Regular-C7L6PwXi.woff") format("woff"),
		url("./JosefinSans-Regular-Bz7vV-7C.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: "Josefin Sans";
	src: url("./JosefinSans-Bold-BJeMBHFB.eot");
	src:
		local("Josefin Sans Bold"),
		local("JosefinSans-Bold"),
		url("./JosefinSans-Bold-BJeMBHFB.eot?#iefix")
			format("embedded-opentype"),
		url("./JosefinSans-Bold-BISt1-gG.woff2") format("woff2"),
		url("./JosefinSans-Bold-zM5qM4KX.woff") format("woff"),
		url("./JosefinSans-Bold-BfZHpRkR.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
	font-display: swap;
}

:root {
	--_z-index-1: 1;
	--_z-index-2: 2;
	--_z-index-3: 3;
	--_z-index-4: 4;
	--_z-index-5: 5;
	--_z-index-6: 6;
	--_z-index-7: 7;
	--_z-index-8: 8;
	--_z-index-9: 9;
	--_z-index-10: 10;
	--z-index-1-screen-foreground: var(--_z-index-1);
	--z-index-1-follow-up-visibility: var(--_z-index-1);
	--z-index-1-prl-welcome: var(--_z-index-1);
	--z-index-1-app-image-dropdown: var(--_z-index-1);
	--z-index-1-surface-under: var(--_z-index-1);
	--z-index-1-block-group: var(--_z-index-1);
	--z-index-2-surface-over: var(--_z-index-2);
	--z-index-2-image-picker-control: var(--_z-index-2);
	--z-index-2-collection-card-button: var(--_z-index-2);
	--z-index-2-block-group-button-group: var(--_z-index-2);
	--z-index-2-block-group-focused: var(--_z-index-2);
	--z-index-2-block-group-overlay: var(--_z-index-2);
	--z-index-3-caption: var(--_z-index-3);
	--z-index-3-block-insert-control: var(--_z-index-3);
	--z-index-5-figure-overlay: var(--_z-index-5);
	--z-index-5-highlight-menu: var(--_z-index-5);
	--z-index-5-metabar: var(--_z-index-5);
	--z-index-5-profile-avatar: var(--_z-index-5);
	--z-index-5-note-recommendations: var(--_z-index-5);
	--z-index-5-collection-logo: var(--_z-index-5);
	--z-index-6-matter-logo: var(--_z-index-6);
	--z-index-6-editor-sidebar: var(--_z-index-6);
	--z-index-6-nav-overlay: var(--_z-index-6);
	--z-index-7-nav: var(--_z-index-7);
	--z-index-8-transitioning-container: var(--_z-index-8);
	--z-index-8-panel: var(--_z-index-8);
	--z-index-8-butter-bar: var(--_z-index-8);
	--z-index-8-loading-bar: var(--_z-index-8);
	--z-index-8-zoom-overlay: var(--_z-index-8);
	--z-index-9-zoom-overlay-target: var(--_z-index-9);
	--z-index-9-nav-overlay-touch: var(--_z-index-9);
	--z-index-9-overlay: var(--_z-index-9);
	--z-index-9-dialog: var(--_z-index-9);
	--z-index-9-tooltip: var(--_z-index-9);
	--z-index-9-accessibility: var(--_z-index-9);
	--z-index-10-dev: var(--_z-index-10);
}

:root {
	--time-001: 0.1s;
	--time-002: 0.2s;
	--time-003: 0.3s;
	--time-004: 0.4s;
	--time-005: 0.5s;
	--time-006: 0.6s;
	--time-007: 0.7s;
	--time-008: 0.8s;
	--time-009: 0.9s;
	--time-1: 1s;
	--time-2: 2s;
	--time-3: 3s;
	--time-4: 4s;
	--time-5: 5s;
	--time-6: 6s;
	--time-7: 7s;
	--time-8: 8s;
	--time-9: 9s;
	--time-10: 10s;
	--time-11: 11s;
} /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
	line-height: 1.15;
	text-size-adjust: 100%;
}

body {
	margin: 0;
}

main {
	display: block;
}

h1 {
	margin: 0.67em 0;
	font-size: 2em;
}

hr {
	box-sizing: content-box;
	overflow: visible;
	height: 0;
}

a {
	background-color: transparent;
}

b {
	font-weight: bolder;
}

code {
	font-family: monospace;
	font-size: 1em;
}

img {
	border-style: none;
}

button,
input,
select,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	outline-offset: -2px;
	appearance: textfield;
}

[type="search"]::-webkit-search-decoration {
	appearance: none;
}

::-webkit-file-upload-button {
	font: inherit;
	appearance: button;
}

details {
	display: block;
}

[hidden] {
	display: none;
}

@layer reset {
	* {
		padding: 0;
		margin: 0;
		font: inherit;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	body {
		min-height: 100dvh;
		min-block-size: 100dvh;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	p {
		text-wrap: pretty;
	}

	img {
		height: 100%;
		block-size: 100%;
		width: 100%;
		inline-size: 100%;
	}

	img,
	video,
	svg {
		height: auto;
		block-size: auto;
		max-width: 100%;
		max-inline-size: 100%;
		vertical-align: middle;
	}

	li {
		list-style: none;
	}

	button {
		border: none;
		background: none;
		cursor: pointer;
	}

	input[type="text"],
	select,
	textarea {
		outline: none;
	}

	textarea {
		field-sizing: content;
	}

	@media (prefers-reduced-motion: reduce) {
		*,
		*::before,
		*::after {
			scroll-behavior: auto !important;
			transition: none;
			transition-duration: 0.01ms !important;
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
		}
	}
}

body {
	background-color: var(--background-color-2);
	color: var(--text-color);
	font-family: var(--primary-font);
	font-size: var(--fs-body-xl);
	font-weight: var(--weight-regular);
	line-height: var(--lh-3);
}

h1 {
	font-size: var(--fs-title-4xl);
	font-weight: var(--weight-bold);
	line-height: var(--lh-7);
}

h2 {
	font-size: var(--fs-title-3xl);
	font-weight: var(--weight-semibold);
	line-height: var(--lh-6);
}

h3 {
	font-size: var(--fs-title-2xl);
	font-weight: var(--weight-semibold);
	line-height: var(--lh-5);
}

h4 {
	font-size: var(--fs-title-xl);
	font-weight: var(--weight-semibold);
	line-height: var(--lh-4);
}

h5 {
	font-size: var(--fs-title-lg);
	font-weight: var(--weight-semibold);
	line-height: var(--lh-3);
}

h6 {
	font-size: var(--fs-title-md);
	font-weight: var(--weight-semibold);
	line-height: var(--lh-3);
}

html {
	height: 100%;
	font-size: var(--fs-base);
	scroll-behavior: smooth;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

p {
	line-height: var(--lh-4);
}

s::before,
s::after {
	position: absolute;
	overflow: hidden;
	height: 1px;
	width: 1px;
	white-space: nowrap;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(100%);
}

s::before {
	content: "[start of stricken text] ";
}

s::after {
	content: " [end of stricken text]";
}

@keyframes reveal {
	0% {
		transform: translateY(10rem);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-in-right {
	0% {
		transform: translate(10rem);
		opacity: 0;
	}

	100% {
		transform: translate(0);
		opacity: 1;
	}
}

@keyframes fade-in-left {
	0% {
		transform: translate(-10rem);
		opacity: 0;
	}

	100% {
		transform: translate(0);
		opacity: 1;
	}
}

.is-sr-only {
	position: absolute;
	overflow: hidden;
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
	margin: -1px;
	word-wrap: normal;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}

.visible {
	display: block;
}

.text-color-2 {
	color: var(--text-color-2);
}

@media (hover: hover) {
	.text-hover:hover {
		color: var(--text-color-hover);
	}
}

.text-active:active {
	color: var(--text-color-active);
}

.background-app {
	background-repeat: no-repeat;
	background-position-y: top;
	background-size: 100% 200px;
}

@media screen and (width >= 48rem) {
	.background-app {
		background-size: 100% 300px;
	}
}

.background-app.light {
	background-image: url("./bg-mobile-light-eXTHhUPU.jpg");
}

@media screen and (width >= 48rem) {
	.background-app.light {
		background-image: url("./bg-desktop-light-BIdKokTn.jpg");
	}
}

.background-app.dark {
	background-image: url("./bg-mobile-dark-DBhZPurk.jpg");
}

@media screen and (width >= 48rem) {
	.background-app.dark {
		background-image: url("./bg-desktop-dark-DzAvO98h.jpg");
	}
}

._a-icon_zbtkv_1 {
	aspect-ratio: 1/1;
}

._a-icon--big_zbtkv_9 {
	inline-size: 15rem;
}

._g-header_19x97_1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	inline-size: 100%;
}

._g-header_19x97_1 ._g-header__title_19x97_13 {
	margin: 0;
	color: var(--pure-white);
	letter-spacing: 1.2rem;
}

._g-header_19x97_1 button:focus-visible {
	border-radius: var(--border-radius-1);
	outline: light-dark(
			var(--bright-blue-accessibility),
			var(--cyan-accessibility)
		)
		solid var(--border-1);
	outline-offset: 0.4rem;
}

._m-box-status_15epo_1 {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: var(--space-4);
	padding-inline: var(--space-5);
	border-end-start-radius: var(--border-radius-1);
	border-end-end-radius: var(--border-radius-1);
	background-color: var(--background-color-1);
}

._m-box-status_15epo_1 button:focus-visible {
	border-radius: var(--border-radius-1);
	outline: light-dark(
			var(--bright-blue-accessibility),
			var(--cyan-accessibility)
		)
		solid var(--border-1);
	outline-offset: 0.4rem;
}

._m-box-status__filters_15epo_49 {
	position: absolute;
	inset-inline: 0;
	inset-block-start: calc(6rem + var(--space-4));
	padding-block: var(--space-4);
	border-radius: var(--border-radius-1);
	background-color: var(--background-color-1);
	box-shadow: var(--shadow-1);
}

._m-box-status__filters--container_15epo_69 {
	display: flex;
	gap: var(--space-4);
	justify-content: center;
	inline-size: 100%;
}

._m-box-status__filters_15epo_49 ._m-box-status__filter_15epo_49 {
	color: var(--text-color-link);
	font-weight: var(--weight-bold);
}

@media (hover: hover) {
	._m-box-status__filters_15epo_49 ._m-box-status__filter_15epo_49:hover {
		color: var(--text-color-link-hover);
	}
}

._m-box-status__filters_15epo_49 ._m-box-status__filter_15epo_49:active {
	color: var(--text-color-link-active);
}

._m-box-status__filters_15epo_49 ._m-box-status__filter_15epo_49:focus-visible {
	border-radius: var(--border-radius-1);
	outline: light-dark(
			var(--bright-blue-accessibility),
			var(--cyan-accessibility)
		)
		solid var(--border-1);
	outline-offset: 0.4rem;
}

._m-box-status__filters_15epo_49 ._m-box-status__filter--active_15epo_135 {
	color: var(--bright-blue);
}

@media screen and (width >= 38.375rem) {
	._m-box-status_15epo_1 {
		box-shadow: none;
	}

	._m-box-status__filters_15epo_49 {
		position: initial;
		inline-size: fit-content;
		padding: 0;
		box-shadow: none;
		background-color: initial;
	}
}

._m-add-first-task-card_jamkk_1 {
	display: grid;
	place-content: center center;
	align-items: center;
	padding: var(--space-10);
	border-radius: var(--border-radius-1);
	box-shadow: var(--shadow-1);
	background-color: var(--background-color-1);
}

._m-add-first-task-card_jamkk_1 svg path {
	fill: light-dark(
		var(--very-dark-grayish-blue),
		var(--dt-light-grayish-blue)
	);
}

._m-editing-task__container_102ez_1 {
	display: flex;
	gap: var(--space-3);
	inline-size: 100%;
	padding-block: calc(var(--space-4) + 0.05rem);
	padding-inline: var(--space-5);
	border-radius: var(--border-1);
	background-color: var(--background-color-1);
	line-height: initial;
}

._m-editing-task__container_102ez_1::before {
	display: inline-block;
	block-size: 2rem;
	inline-size: 2rem;
	border: var(--border-025) solid
		light-dark(
			var(--very-light-grayish-blue),
			var(--very-dark-grayish-blue-2)
		);
	border-radius: var(--border-radius-circle);
	content: "";
}

._m-editing-task__container_102ez_1:focus-within {
	border: light-dark(
			var(--bright-blue-accessibility),
			var(--cyan-accessibility)
		)
		solid var(--border-1);
}

._m-editing-task__container_102ez_1:focus-within::before {
	border-color: light-dark(
		var(--bright-blue-accessibility),
		var(--cyan-accessibility)
	);
}

._m-editing-task__input_102ez_79 {
	flex-grow: 1;
	inline-size: 20rem;
	border: none;
	background-color: var(--background-color-1);
	resize: none;
	caret-color: var(--bright-blue);
}

._m-editing-task__input_102ez_79::placeholder {
	color: var(--dark-grayish-blue);
}

._a-checkbox_1m96u_1 {
	display: flex;
}

._a-checkbox_1m96u_1::before {
	display: inline-block;
	block-size: 2rem;
	inline-size: 2rem;
	border: var(--border-025) solid transparent;
	border-radius: var(--border-radius-circle);
	background-image: linear-gradient(
			light-dark(var(--very-light-gray), var(--very-dark-blue)),
			light-dark(var(--very-light-gray), var(--very-dark-blue))
		),
		radial-gradient(
			circle at top left,
			light-dark(
				var(--very-light-grayish-blue),
				var(--very-dark-grayish-blue-2)
			),
			light-dark(
				var(--very-light-grayish-blue),
				var(--very-dark-grayish-blue-2)
			)
		);
	background-clip: content-box, border-box;
	background-origin: border-box;
	content: "";
}

._a-checkbox_1m96u_1:has(input[type="checkbox"]:checked)::before {
	border: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='9'%3E%3Cpath fill='none' stroke='%23FFF' stroke-width='2' d='M1 4.304L3.696 7l6-6'/%3E%3C/svg%3E"),
		var(--check-background);
	background-repeat: no-repeat;
	background-position: center;
}

@media (hover: hover) {
	._a-checkbox_1m96u_1:hover::before {
		background-image: linear-gradient(
				light-dark(var(--very-light-gray), var(--very-dark-blue)),
				light-dark(var(--very-light-gray), var(--very-dark-blue))
			),
			radial-gradient(circle at top left, var(--cyan), var(--magenta));
	}
}

._a-checkbox_1m96u_1:has(input[type="checkbox"]:focus-visible)::before {
	outline: light-dark(
			var(--bright-blue-accessibility),
			var(--cyan-accessibility)
		)
		var(--border-1) solid;
	outline-offset: 0.4rem;
}

._m-todo-item_q92ec_1 {
	display: grid;
	grid-template-columns: auto auto;
	gap: var(--space-4);
	justify-content: space-between;
	padding-block: var(--space-5);
	padding-inline: var(--space-6);
	border-block-end: var(--border-025) solid
		light-dark(
			var(--very-light-grayish-blue),
			var(--very-dark-grayish-blue-2)
		);
}

._m-todo-item_q92ec_1 ._m-todo-item__task_q92ec_27 {
	line-height: initial;
}

._m-todo-item_q92ec_1:has(
		._m-todo-item__label_q92ec_35 input[type="checkbox"]:checked
	)
	._m-todo-item__task_q92ec_27 {
	color: light-dark(
		var(--light-grayish-blue),
		var(--dt-very-dark-grayish-blue)
	);
}

._m-todo-item_q92ec_1 ._m-todo-item__close-button_q92ec_51:focus-visible {
	border-radius: var(--border-radius-1);
	outline: light-dark(
			var(--bright-blue-accessibility),
			var(--cyan-accessibility)
		)
		solid var(--border-1);
	outline-offset: 0.4rem;
	opacity: 1;
}

._m-todo-item_q92ec_1 ._m-todo-item__close-button_q92ec_51 svg path {
	fill: light-dark(
		var(--very-dark-grayish-blue),
		var(--dt-light-grayish-blue)
	);
}

._m-todo-item_q92ec_1 ._m-todo-item__close-button_q92ec_51:active svg path {
	fill: var(--bright-blue);
}

@media (hover: hover) {
	._m-todo-item_q92ec_1 ._m-todo-item__close-button_q92ec_51 {
		opacity: 0;
	}

	._m-todo-item_q92ec_1:hover ._m-todo-item__close-button_q92ec_51 {
		opacity: 1;
	}
}

._m-todo-item__task-container_q92ec_121 {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--space-6);
}

._m-todo-item__label_q92ec_35 {
	align-items: center;
	cursor: pointer;
}

._m-todo-item__edit-task_q92ec_143 {
	display: none;
}

._m-todo-item__edit-task--editing_q92ec_151 {
	display: initial;
	flex-basis: 100%;
	inline-size: 20rem;
	margin-inline-start: var(--space-11);
	resize: none;
	caret-color: var(--bright-blue);
}

._m-todo-item__edit-task--editing_q92ec_151 input {
	border: none;
}

._m-todo-list_1knl4_1 {
	overflow: hidden;
	border-start-start-radius: var(--border-radius-1);
	border-start-end-radius: var(--border-radius-1);
	background-color: var(--background-color-1);
}

._m-todo-search__container_1kv0j_1 {
	display: flex;
	gap: var(--space-3);
	align-items: center;
	inline-size: 100%;
	max-width: 54rem;
	max-inline-size: 54rem;
	padding-block: var(--space-5);
	padding-inline: var(--space-6);
	border-radius: var(--border-1);
	background-color: var(--background-color-1);
	line-height: initial;
}

._m-todo-search__container_1kv0j_1::before {
	display: inline-block;
	block-size: 2rem;
	inline-size: 2rem;
	border: var(--border-025) solid
		light-dark(
			var(--very-light-grayish-blue),
			var(--very-dark-grayish-blue-2)
		);
	border-radius: var(--border-radius-circle);
	content: "";
}

._m-todo-search__container_1kv0j_1:focus-within {
	outline: light-dark(
			var(--bright-blue-accessibility),
			var(--cyan-accessibility)
		)
		solid var(--border-1);
}

._m-todo-search__container_1kv0j_1:focus-within::before {
	border-color: light-dark(
		var(--bright-blue-accessibility),
		var(--cyan-accessibility)
	);
}

._m-todo-search__input_1kv0j_85 {
	flex-grow: 1;
	inline-size: 20rem;
	border: none;
	background-color: var(--background-color-1);
	resize: none;
	caret-color: var(--bright-blue);
}

._m-todo-search__input_1kv0j_85::placeholder {
	color: var(--dark-grayish-blue);
}

._app-container_t81pq_1 {
	display: grid;
	gap: var(--space-10);
	inline-size: 88%;
	max-inline-size: 54rem;
	margin-inline: auto;
	margin-block-start: 4.8rem;
}

._app-container_t81pq_1 section:first-of-type {
	margin-block-start: var(--space-4);
}

@media screen and (width >= 38.375rem) {
	._app-container_t81pq_1 {
		gap: var(--space-12);
	}
}

._g-todo-container_t81pq_35 {
	border-end-start-radius: var(--border-radius-1);
	border-end-end-radius: var(--border-radius-1);
	box-shadow: var(--shadow-1);
}

@media screen and (width >= 38.375rem) {
	._g-todo-container_t81pq_35 {
		margin-block-start: var(--space-6);
	}
}

._app-container__drag-and-drop_t81pq_55 {
	margin-block-start: calc(8.4rem + var(--space-10));
	color: var(--text-color-2);
	text-align: center;
}

@media screen and (width >= 38.375rem) {
	._app-container__drag-and-drop_t81pq_55 {
		margin-block-start: var(--space-12);
	}
}
